/* You can add global styles to this file, and also import other style files */
a{
  color: black;
}

.icon_right_space{
  padding-right: 2%;
}

.template{
  margin: 1%;
}

.row_bottom{
  margin-bottom: 1%;
}